@media only screen and (max-width:768px){
    header{
        nav{
            img{
                margin: 0;
                height: 4rem;
            }
            ul{
                li{
                        margin: 1rem;
                        border-radius: 3px;
                        border: 1px solid red;
                        box-shadow: red 0 0 25px;
                        &:hover{
                            border: white 1px solid;
                            box-shadow: white 0 0 25px;
                        }
                }
            }
        }
    }

    .videos{
        height: 27rem;
        box-shadow: white 0px 10px 25px;
        .divVideos{
            margin-top: 0;
            width: 100%;
            height: 27rem;
            background-color: black;
            border-radius: 5px;
            img{
                height: 27rem;
            }
        }
        }

        .flechaMovile{
            width: 100%;
            margin: 2rem auto;
            height: 5rem;
            display: flex;
            flex-direction: row;
            flex-wrap: nowrap;
            justify-content: center;
            align-items: center;
            align-content: center;
            a{
                width: 5rem;
                .colorFlecha{
                    width: 100%;
                    display: unset;
                    fill: white;
                    height: 5rem;
                    transition: all .4s ease;
                    &:hover{
                        fill: red;
                    }
                }
            }
        }


    .letras{
        margin: 5rem auto;
        height: 70rem;
        border-radius: 10px;
        .letrasFlexBotones{
            margin: 5rem;
            border: none;
            height: 80%;
            flex-direction: column;
            flex-wrap: wrap;
            .letrasDivFlex{
                box-shadow: red 0 0 40px;
                width: 10rem;
                height: 5rem;
            }
        }
    }


    .quienesSomos{
        .contenedorIntegrantes{
        .lechuDiv{
            width: 20rem;
                img{
                height: 20rem;
            }
        }
        .fackuDiv{
            width: 20rem;
            margin-bottom: 2rem;
            img{
                height: 15rem;
            }
        }
        }
        .bsbQuienesSomos{
            width: 90%;
        }
    }


    .conQuienTrabajamos{
    .conQuienTrabajamosDiv{
        margin-top: 1rem;
        width: 20rem;
            .conQuienTrabajamosLogo{
                margin: 0;
                width: 18rem;
            }
        }
        .trabajaConNosotros{
            width: 100%;
            margin-bottom: 1rem;
        }
    }
    


    .error{
        .errorDiv{
            width: 90%;
            height: 90%;
            a img{
                height: 150px;
            }
        }
    }

    
    .galeria{
        .galeriaDiv{
            .galeriaImagenes{
                div{
                    margin: 1rem 0;
                    .resizePhotoMovile{
                        width: 100%;
                    }
                    .resizePhoto{
                        width: 100%;
                    }
                }
            }
        }
    }


    .contacto{
        padding: 2rem;
        .contactoExtras{
            width: 100%;
        }
    }


    footer{
        height: 10rem;
    }

}