@media only screen and (max-width:768px){
    header{
        nav{
            img{
                margin: 0;
                width: 8rem;
                height: 8rem;
            }
            ul{
                li{
                        margin: 1rem;
                        border-radius: 3px;
                        border: 1px solid red;
                        box-shadow: red 0 0 25px;
                        &:hover{
                            border: white 1px solid;
                            box-shadow: white 0 0 25px;
                        }
                }
            }
        }
    }

    .videos{
        height: 30.44rem;
        flex-wrap: wrap;
        box-shadow: white 0px 20px 25px;
        .divVideos{
            margin-top: 0;
            width: 100%;
            height: 5rem;
            background-color: black;
            border-radius: 5px;
            img{
                height: 31.44rem;
            }
        }
        }

    .letras{
        height: 70rem;
        border-radius: 10px;
        .letrasFlexBotones{
            margin: 5rem;
            border: none;
            height: 80%;
            flex-direction: column;
            flex-wrap: wrap;
            .letrasDivFlex{
                box-shadow: red 0 0 40px;
                width: 10rem;
                height: 5rem;
            }
        }
    }


    .quienesSomos{
        flex-wrap: wrap;
        .lechuDiv{
            margin: 0;
                img{
                width: 10rem;
            }
        }
        .fackuDiv{
            margin: 0%;
            width: 20rem;
            margin-bottom: 2rem;
            img{
                height: 15rem;
            }
        }
        }




    .conQuienTrabajamos{
    .conQuienTrabajamosDiv{
        width: 20rem;
        margin: 0%;
        padding: 0;
            .conQuienTrabajamosLogo{
                margin: 0;
                width: 18rem;
            }
        }
    }
    
    footer{
        height: 10rem;
    }

    .error{
        .errorDiv{
            width: 90%;
            height: 90%;
            a img{
                height: 150px;
                width: 150px;
            }
        }
    }

    .galeria{
        .galeriaDiv{
            .galeriaImagenes{
                div{
                    margin: 1rem 0;
                    .resizePhotoMovile{
                        width: 15rem;
                    }
                }
            }
        }
    }
}