@mixin estiloCajas ($altura) {
    width: 50%;
    height: $altura;
    background-color: black;
    border: 1px solid red;
    border-radius: 10px;
    box-shadow: white 0px 0px 25px;
}

.conQuienTrabajamos{
    padding: 5%;
    width: 100%;
    height: fit-content;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    row-gap: 5rem;
    border-bottom: 1px red solid;
    .conQuienTrabajamosDiv{
        @include estiloCajas(30rem);
        display: grid;
        grid-template-columns: 1fr;
        grid-template-rows: 1fr;
        grid-template-areas:
        "logo"
        "texto";
        justify-items: center;
        align-items: center;
        padding: 1rem;
        .conQuienTrabajamosLogo{
            margin-left: 1.4rem;
            grid-area: logo;
            width: 95%;
        }
        .conQuienTrabajamosP{
            grid-area: texto;
            text-align: center;
            justify-items: center;
            align-items: center;
            padding: 1rem;
        }
    }
    .trabajaConNosotros{
        @include estiloCajas(20rem);
        display: flex;
        flex-direction: column;
        flex-wrap: nowrap;
        justify-content: center;
        align-items: center;
        align-content: center;
        row-gap: 2rem;
        .h2TrabajaConNosotros{
            text-decoration: underline;
            text-shadow: white 0 0 8px;
        }
        .contactanosLink{
            width: 15rem;
            height: 5rem;
            border: red 1px solid;
            border-radius: 10px;
            box-shadow: red 0 0 10px;
            display: flex;
            flex-direction: column;
            justify-content: center;
            align-items: center;
            transition:all .5s ease ;
            &:hover{
                box-shadow: white 0 0 10px;
                border: white 1px solid;
            }
            a{
                text-decoration: none;
                color: white;
            }
        }
    }
}

