footer{
    border-top: 1px solid red;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-evenly;
    align-items: center;
    text-align: center;
    .svg{
        width: 3rem;
        .colorSvg{
            fill: white;
            transition: all .5s ease;
            &:hover{
                fill: red;
            }
        }
    }
    .footerDiv{
        margin: 50px 0;
    }
}
