$anchos:(
    divVideos: 100%,
    letras: 90%,
    botonesLetras: 15%,
);

$divVideos:map-get($anchos, divVideos);
$letras: map-get($anchos, letras);
$botonesLetras: map-get($anchos, botonesLetras);

.videos{
    height: 35rem;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    box-shadow: white 0 10px 10px;
    .divVideos{
        margin-top: .1rem;
        width: $divVideos;
        height: 35rem;
        background-color: black;
        border-radius: 5px;
        img{
            height: 35rem;
        }
    }
}





.letras{
    border: 1px solid red;
    border-top-left-radius: 50px;
    border-bottom-right-radius: 50px;
    margin: 10rem auto;
    padding: 3rem;
    width: $letras;
    height: 20rem;
    background-color: black;
    box-shadow: white 0px 0px 25px; 
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    justify-content: space-around;
    align-items: center;
    align-content: center;
    .letras__div--h2{
        text-decoration: underline;
    }
    .letrasFlexBotones{
        width: 100%;
        height: 70%;
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
        justify-content: space-evenly;
        align-content: center;
        align-items: center;
        .letrasDivFlex{
            box-shadow: red 0 0 30px;
            border: 1px solid red;
            border-radius: 5px;
            height: 50%;
            width: $botonesLetras;
            display: flex;
            flex-direction: row;
            flex-wrap: wrap;
        }
    }
}





