@mixin divSomos(){
border: 1px solid red;
background-color: black;
box-shadow: white 0 0 25px;
border-radius: 5px;
margin: 2rem;
padding: 1rem;
width: 25rem;
height: 35rem;
display: flex;
flex-direction: column;
flex-wrap: nowrap;
justify-content: space-evenly;
align-items: center;
align-content: center;
}

.quienesSomos{
    width: 100%;
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    align-content: center;
    row-gap: 2rem;
    border-bottom: 1px solid red;
    text-align: center;
    .contenedorIntegrantes{
        width: 100%;
        height: fit-content;
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
        justify-content: space-evenly;
        align-items: center;
        align-content: center;
        .fackuDiv{
            @include divSomos();
            a{
                height: 20rem;
                img{
                    height: 20rem;
                }
            }
            h2{
                text-decoration: underline;
                text-shadow: white 0 0 10px;
            }
            p{
                grid-area: descripcion;
            }
        }
        .lechuDiv{
            @include divSomos();
            a{
                height: 20rem;
                img{
                height: 20rem;
                }
            }
                h2{
                    text-shadow: white 0 0 10px;
                    text-decoration: underline;
                }
            }
    }
    .bsbQuienesSomos{
        width: 74%;
        padding: 2rem;
        height: fit-content;
        margin-bottom: 5rem;
        background-color: black;
        border: red 1px solid;
        border-radius: 10px;
        box-shadow: white 0 0 25px;
        img{
            margin-bottom: 1rem;
            height: 8rem;
            transition: all .5s ease;
            &:hover{
                transform: translate(0, -10px);
            }
        }
        h2{
            text-shadow: white 0 0 5px;
        }
        p{
            font-size: 1.5rem;
        }
    }
}






