@media only screen and (min-width: 768px) and (max-width: 991px){
    header{
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: space-between;
        nav{
            margin-bottom: 1rem;
            ul{
                li{
                    box-shadow: red 0 0 15px;
                    border:solid 1px red;
                    margin-top: 1rem;
                    &:hover{
                        box-shadow: white 0 0 15px;
                        border: white 1px solid;
                    }
                }
            }
        }
    }

    .videos{
        height: 34rem;
        .divVideos{
            height: 34.7rem;
            img{
                height: 34.7rem;
            }
        }
    }

    
    .galeria{
        .galeriaDiv{
            .galeriaImagenes{
                div{
                    margin: 1rem 0;
                }
            }
        }
    }

    .quienesSomos{
        .lechuDiv{
                img{
                height: 21rem;
            }
        }
    }
}